<header>
    <div class="cabecera">
        <a class="button" href="/question/listar_preguntas">Preguntas</a>
        <a class="button" href="/question/preguntasSinResponder">Sin responder</a>
        <a class="button" href="/user/listar_usuarios">Usuarios</a>
    </div>

    <img src="/img/404-4.png" id="img404" alt="">

    <div class="cabecera">
        
        <a class="button" href="/user/logout">Cerrar sesión</a>
        
    </div>

</header>